:root {
  --sl-color-accent-low: #4a1d96;
  --sl-color-accent: #7c3aed;
  --sl-color-accent-high: #c4b5fd;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #c4b5fd;
  --sl-color-accent: #7c3aed;
  --sl-color-accent-high: #4a1d96;
}
